.tiktok-logo {
	/*	width: 15px;*/
	height: 15px;
	/*	padding: 1px;*/
	/*	margin: 0px 10px -20px 10px;*/
	/*	position: relative;*/
}

.capa-samsung-magnetica {
	height: 300px !important;
}

.seccion-de-tres img {
	height: 400px !important;
}

.seccion-de-cuatro img {
	height: 250px !important;
}

.code-titulo a {
	font-size: 30px;
}

#owl-demo img {
	height: 100px;
}

.code-nota {
	box-sizing: border-box;
	margin: 10px 50px 0px 50px;
	/*	height: 150px;*/
	display: none;
}

.code-nota h2 {
	font-size: 17px;
	color: black;
	box-sizing: border-box;
	margin-right: 20px;
}

.testodelboton {
	font-weight: bold;
}

#codemodal {
	z-index: 100;
	/*		width: 75%;*/
	/*	height: 300px;*/
	/*	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: 50%;
	margin-top: 50%;*/
	background-color: transparent !important;
}

.codemodal {
	/*	margin-top: 15%;*/
	height: 100px;
	/*	margin: auto;

/*	width: 50%;*/
	/*	position: relative;*/
	/*	left: 25%;*/
	/*	top: 50%;*/
	/*	border: 3px solid green;
	padding: 10px;*/
}

.codecuerpo {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}
